################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JenkinsTestapp/.vs/JenkinsTestapp/FileContentIndex/ff120963-78c1-4d64-a3a5-952c18ece8d1.vsidx
